@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.counter-application {
    margin-top: 100px;
    text-align: center;
}

.counter-head {
    font-size: 50px;
    font-family: Roboto;
    font-weight: 800;
}

.counter-value {
    font-size: 75px;
    font-weight: 900;
}

.custom-button {
    margin: 8px;
    border-radius: 7px;
    background-color: white;
    padding: 6px;
    border: 2px solid black;
}